@using Images.Data;
@model viewImage
<div class="container">
    <main role="main" class="pb-3">

        <div class="col-md-6 offset-md-3 jumbotron">
            @if (Model.submittedCorrectPassword)
            {
                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <img src="/uploads/@Model.image.FileName" style="width: 800px;" />
                        <br />
                        <h3>Views: @Model.image.view</h3>
                    </div>
                </div>

            }

            @if (!Model.submittedCorrectPassword)
            {

                @if (Model.message != null)
                {
                    <h3 class="alert-danger">@Model.message</h3>
                }
                <h4>Please enter the password for this image:</h4>
                <form method="post" action="/home/EnterPassword">
                    <input type="hidden" name="id" value="@Model.id" />
                    <input type="text" class="form-control" placeholder="Password" name="password" />
                    <br />
                    <button class="btn btn-primary">Submit</button>
                </form>
            }



        </div>

